In [2]:
import numpy as np
import pandas as pd
import pandas_ta as ta
import datetime

In [3]:
df  = pd.read_csv('../Datasets/Binance_BTCUSDT_d.csv', header=1, usecols=['unix','open','high','low','close', 'Volume BTC'])

In [4]:
pd.to_datetime(1502928000.0, unit='s')

Timestamp('2017-08-17 00:00:00')

In [6]:
df['diff'] = df['close'] - df['open']

In [7]:
def simplifier(val):
  print(val)
  break

,unix,open,high,low,close,Volume BTC,diff
0,1.659053e+12,23845.25,23890.00,23818.26,23836.43,1838.45133,-8.82
1,1.658966e+12,22954.31,24199.72,22582.13,23842.93,236029.07410,888.62
2,1.658880e+12,21254.67,23112.63,21042.53,22952.45,210971.19796,1697.78
3,1.658794e+12,21310.90,21347.82,20706.50,21254.67,177817.24326,-56.23
4,1.658707e+12,22577.13,22666.00,21250.00,21310.90,180344.76643,-1266.23
...,...,...,...,...,...,...,...
1804,1.503274e+09,4086.29,4119.62,3911.79,4016.00,685.12000,-70.29
1805,1.503187e+09,4139.98,4211.08,4032.62,4086.29,463.54000,-53.69
1806,1.503101e+09,4108.37,4184.69,3850.00,4139.98,371.15000,31.61
1807,1.503014e+09,4285.08,4371.52,3938.77,4108.37,1178.07000,-176.71
1808,1.502928e+09,4469.93,4485.39,4200.74,4285.08,647.86000,-184.85